*~

# Eclipse output
bin/
.gradle/

# Eclipse personal settings
.settings/

# ant output
tests/build
tests/lib
lib/
logs/
apache-common/
build/

# Analysis
Analysis/

# do-like-javac output
dljc-out/

# example project bin files
FooProject/bin

# case study output
case-study/apache-tomee/tomee
*.class
annotated/
*.smt
example/
statistics.txt
default.jaif
